/* ---------------------------------------------------------------------- */
/* company-data-form */
/* ---------------------------------------------------------------------- */

.company-data-form-title {
    margin-top: 10px;
    padding-left: 20px;
}

.company-data-form-title input {
    width: 406px
}

.company-data-form-core-data input {
    width: 406px;
}

.company-data-form-core-data fieldset {
    margin-top: 10px;
}


/* ---------------------------------------------------------------------- */
/* project data form */
/* ---------------------------------------------------------------------- */

.project-data-form-title {
    padding-top: 20px;
}

.project-data-form-title input {
    width: 368px;
}

.project-data-form-subtitle {
    margin: 0px 0px 20px 0px;
}

.project-data-form-subtitle input {
    width: 368px;
}

.project-data-form-details input {
    width: 246px;
}


/* ---------------------------------------------------------------------- */
/* company crud table */
/* ---------------------------------------------------------------------- */

#company-table td:nth-child(1) {
    width: 30px;
}

#company-table td:nth-child(2) {
    width: 310px;
}

#company-table td:nth-child(3) {
    width: 100px;
}

#company-table td:nth-child(4) {
    width: 200px;
}

#company-table td:nth-child(5), #company-table td:nth-child(6) {
    width: 30px;
}


/* ---------------------------------------------------------------------- */
/* project crud table */
/* ---------------------------------------------------------------------- */

#project-table td:nth-child(1) {
    width: 30px;
}

#project-table td:nth-child(2) {
    width: 160px;
}

#project-table td:nth-child(3) {
    width: 160px;
}

#project-table td:nth-child(4) {
    width: 160px;
}

#project-table td:nth-child(5) {
    width: 120px;
}

#project-table td:nth-child(6), #project-table td:nth-child(7) {
    width: 30px;
}


/* ---------------------------------------------------------------------- */
/* contact table */
/* ---------------------------------------------------------------------- */

#contact-table td.selector {
    width: 30px;
}

#contact-table td.payload {
    width: 185px;
}

#contact-table td.payload input {
    width: 170px;
}

#contact-table td.pushbutton {
    width: 30px;
}
