/* ---------------------------------------------------------------------- */
/* Company Form */
/* ---------------------------------------------------------------------- */

.company-form input  {
    width: 406px;
}

#tin {
    width: 112px;
    float: left;
}

#tin input {
    width: 100px;
}

#tof-div {
    padding-left: 20px;
    width: 286px;
    float: left;
}

#tof-div input {
    width: 276px;
}

.company-data fieldset {
    margin-top: 10px;
}

#pobox {
    margin-left: 20px;
    width: 199px;
    float: left;
}

#zipcode {
    width: 199px;
    float: left;
}

#pobox input, #zipcode input {
    width: 187px;
}

#company-notes {
    margin-left: 20px;
}

#company-notes textarea {
    width: 408px;
    height: 150px;
}



/* ---------------------------------------------------------------------- */
/* Contact Table */
/* ---------------------------------------------------------------------- */

#contact-table {
    margin-top: 20px;
}

#contact-table td.payload {
    width: 185px;
}

#contact-table td.payload input {
    width: 160px;
}


/* ---------------------------------------------------------------------- */
/* Project Form */
/* ---------------------------------------------------------------------- */

.project-form input {
    width: 406px;
}

.project-form-details input {
    width: 168px;
}

#project-notes {
    margin-left: 20px;
}

#project-notes textarea {
    width: 408px;
    height: 200px;
}


/* ---------------------------------------------------------------------- */
/* Bill Table */
/* ---------------------------------------------------------------------- */

#bill-table {
    margin-top: 20px;
}

#bill-table td.payload {
    width: 185px;
}

#bill-table td.payload input {
    width: 160px;
}
