/* ---------------------------------------------------------------------- */
/* company-data-form */
/* ---------------------------------------------------------------------- */

.company-data-form-title {
    margin-top: 10px;
    padding-left: 20px;
}

.company-data-form-title input {
    width: 406px
}

.company-data-form-core-data input {
    width: 406px;
}

.company-data-form-core-data fieldset {
    margin-top: 10px;
}



/* ---------------------------------------------------------------------- */
/* project data form */
/* ---------------------------------------------------------------------- */

.project-data-form-title {
    padding-top: 20px;
}

.project-data-form-title input {
    width: 368px;
}

.project-data-form-subtitle {
    margin: 0px 0px 20px 0px;
}

.project-data-form-subtitle input {
    width: 368px;
}

.project-data-form-details input {
    width: 246px;
}



/* ---------------------------------------------------------------------- */
/* contact table */
/* ---------------------------------------------------------------------- */

#contact-table td.payload {
    width: 185px;
}

#contact-table td.payload input {
    width: 160px;
}
