/* global */

a, a:hover img {
    text-decoration: none;
    color: blue;
}

body {
    background-color: #f8f8f8;
    color: #000000;
    line-height: 1;
    font-size: 13px;
    font-family: "Helvetica Neue", "Arial", "Liberation Sans", sans-serif;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 17px;
}

input {
    border: 1px solid #cccccc;
    padding: 2px 5px;
    font-size: 13px;
    font-family: "Helvetica Neue", "Arial", "Liberation Sans", sans-serif;
}

textarea {
    font-family: "Liberation Mono", "Andale Mono", "Courier New", "monospace";
    font-size: 13px;
    border: 1px solid grey;
    padding: 3px 5px 3px 5px;
}

input:focus, textarea:focus {
    border: solid 1px #aaa;
    background-color: #ffffff;
}

input[disabled], input[readonly] {
    color: #000000;
    background-color: #EDEDED;
}

textarea[disabled], textarea[readonly] {
    color: #000000;
    background-color: #EDEDED;
}

button, select {
    font-size: 13px;
    font-family: "Helvetica Neue", "Arial", "Liberation Sans", sans-serif
}

select option {
    height: 18px;
}

select[disabled] {
    color: #000000;
}


/* ---------------------------------------------------------------------- */
/* backgrounds */
/* ---------------------------------------------------------------------- */

.read {
    background: transparent url(/scrooge/img/application_view_list.png) no-repeat left center;
}

.details {
    background: transparent url(/scrooge/img/application_form.png) no-repeat left center;
}

.create {
    background: transparent url(/scrooge/img/add.png) no-repeat left center;
}

.update {
    background: transparent url(/scrooge/img/pencil.png) no-repeat left center;
}

.delete {
    background: transparent url(/scrooge/img/delete.png) no-repeat left center;
}

.archive {
    background: transparent url(/scrooge/img/package.png) no-repeat left center;
}

.msg-error {
    background: transparent url(/scrooge/img/error.png) no-repeat 7px center;
}

.attention {
    background-color: #fdd;
}



/* ---------------------------------------------------------------------- */
/* miscellaneous */
/* ---------------------------------------------------------------------- */

.indent {
    padding-left: 25px;
}

.invisible {
    display: none;
}

.inline {
    display: inline;
}

.cancel-button {
    margin-left: 10px;
    text-decoration: underline;
}



/* ---------------------------------------------------------------------- */
/* layout */
/* ---------------------------------------------------------------------- */

#container {
    height: 100%;
    background-color: #ededed;
}

#footer {
    margin-top: 40px;
    font-family: 'Courier New','Courier',monospace;
    text-align: center;
}

#header {
    background-color: #104E8B;
    color: #ffffff;
}



/* ---------------------------------------------------------------------- */
/* window */
/* ---------------------------------------------------------------------- */

.window {
    margin-top: 10px;
}

.title {
    font-weight: bold;
    background-color: #104e8b;
    color: white;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
}



/* ---------------------------------------------------------------------- */
/* logo */
/* ---------------------------------------------------------------------- */

#logo {
    line-height: 30px;
}

#logo h1 {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Courier New','Courier',monospace;
}

#primary-navbar li, #logout li {
    margin-top: 3px;
    line-height: 30px;
}

#primary-navbar li {
    font-weight: bold;
}

#primary-navbar a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 0px 10px;
    margin: 0px 1px;
}

#primary-navbar a:hover {
    color: #104E8B;
    background-color: #ededed;
    border-radius: 4px 4px 0px 0px;
}

#primary-navbar span, #logout span {
    color: #882233;
    background-color: #ededed;
    padding: 0px 10px;
    border-radius: 4px 4px 0px 0px;
}

p#logout  {
    line-height: 30px;
    float: right;
    margin-right: 10px;
}

p#logout a {
    text-decoration: underline;
    color: #ffffff;
}



/* ---------------------------------------------------------------------- */
/* data form */
/* ---------------------------------------------------------------------- */

.data-form fieldset {
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 15px 0px;
}

.data-form legend {
    padding: 0px 10px;
    font-size: 11px;
    font-weight: normal;
}

.data-form label {
    display: block;
    font-weight: bold;
    font-size: 12px;
    margin: 6px 0px 3px 0px;
}

.data-form input {
    display: block;
    margin-bottom: 10px;
}

.data-form input.inline {
    display: inline;
}

.data-form-first, .data-form-buttons {
    margin-top: 20px;
}
