/* global */

a, a:hover img {
    text-decoration: none;
    color: blue;
}

body {
    background-color: #ededed;
    color: #000000;
    line-height: 1.5;
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 17px;
}

input {
    border: 1px solid #cccccc;
    padding: 3px 5px 3px 5px;
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

textarea {
    border: 1px solid #ddd;
    padding: 3px 5px 3px 5px;
}

input:focus, textarea:focus {
    border: solid 1px #aaa;
    background-color: #ffffff;
}

input[disabled], input[readonly] {
    color: #000000;
    background-color: #EDEDED;
}

textarea[disabled], textarea[readonly] {
    color: #000000;
    background-color: #EDEDED;
}

button, select {
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

button {
    padding: 5px 5px 5px 0px;
}

button img {
    padding: 0px 5px;
    vertical-align: bottom;
}

select {
    padding: 5px;
}

select[disabled] {
    color: #000000;
}


/* ---------------------------------------------------------------------- */
/* backgrounds */
/* ---------------------------------------------------------------------- */

.catalogue {
    background: transparent url(/scrooge/img/application_view_list.png) no-repeat left center;
}

.details {
    background: transparent url(/scrooge/img/application_form.png) no-repeat left center;
}

.create {
    background: transparent url(/scrooge/img/add.png) no-repeat left center;
}

.update {
    background: transparent url(/scrooge/img/pencil.png) no-repeat left center;
}

.delete {
    background: transparent url(/scrooge/img/delete.png) no-repeat left center;
}

.archive {
    background: transparent url(/scrooge/img/package.png) no-repeat left center;
}

.msg-error {
    background: transparent url(/scrooge/img/error.png) no-repeat 7px center;
}

.attention {
    background-color: #fdd;
}



/* ---------------------------------------------------------------------- */
/* miscellaneous */
/* ---------------------------------------------------------------------- */

.indent {
    margin-left: 25px;
}

.invisible {
    display: none;
}

.inline {
    display: inline;
}

.cancel-button {
    margin-left: 10px;
    text-decoration: underline;
}



/* ---------------------------------------------------------------------- */
/* layout */
/* ---------------------------------------------------------------------- */

#container {
    height: 100%;
}

#container {
    background-color: #FFFFFF;
}

#footer {
    margin-top: 40px;
}



/* ---------------------------------------------------------------------- */
/* window */
/* ---------------------------------------------------------------------- */

.window {
    margin-top: 10px;
}

.title {
    font-weight: bold;
    background-color: #4F5C4E;
    color: white;
    line-height: 26px;
    padding-left: 10px;
}



/* ---------------------------------------------------------------------- */
/* logo */
/* ---------------------------------------------------------------------- */

#logo h1 {
    text-align: center;
}




/* ---------------------------------------------------------------------- */
/* data form */
/* ---------------------------------------------------------------------- */

.data-form fieldset {
    border: 1px solid grey;
    padding: 10px 20px;
}

.data-form legend {
    padding: 0px 10px;
    font-size: 11px;
}

.data-form label {
    display: block;
    font-weight: bold;
    font-size: 11px;
}

.data-form input {
    display: block;
    margin-bottom: 10px;
}

.data-form input.inline {
    display: inline;
}

.data-form-first, .data-form-buttons {
    margin-top: 20px;
}
