#config-table input {
    width: 590px;
}

#account-tree input {
    width: 50%;
}

#account-role-table td.payload {
    width: 380px;
}

#account-role-table td.payload input{
    width: 360px;
}


#temtx-table td:nth-child(2) {
    width: 220px;
}

#temtx-table td:nth-child(3), #temtx-table th:nth-child(3),
#temtx-table td:nth-child(4), #temtx-table th:nth-child(4)
{
    width: 170px;
}


#temtx-table td:nth-child(2) input {
    width: 210px;
}

#temtx-table td:nth-child(3) input, #temtx-table th:nth-child(3) input,
#temtx-table td:nth-child(4) input, #temtx-table th:nth-child(4) input
{
    width: 160px;
}

#temtx-table td:nth-child(6) {
    text-align: center;
}

.chequing {
    font-style: italic;
}