/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* CONTROLS */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.controls {
    background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 30px;
}


/* ---------------------------------------------------------------------- */
/* filters form */
/* ---------------------------------------------------------------------- */

#filters {
    margin-bottom: 20px;
}

/* ---------------------------------------------------------------------- */
/* notifications */
/* ---------------------------------------------------------------------- */

#notifications p {
    margin-bottom: 10px;
}

#notifications li {
    padding: 0px 0px 8px 22px;
    line-height: 22px;
}

/* ---------------------------------------------------------------------- */
/* filters */
/* ---------------------------------------------------------------------- */

.search input {
    border: 1px solid #444444;
    margin-top: 10px;
    width: 180px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.search button {
    width: 28px;
    height: 26px;
    vertical-align: bottom;
}
