/* ---------------------------------------------------------------------- */
/* crud-tree */
/* ---------------------------------------------------------------------- */

.crud-tree {
    clear: both;
    padding-top: 10px;
    line-height: 26px;
    background-color: #ededed;
}

.crud-tree a img {
    vertical-align: middle;
    padding-right: 2px;
}

.crud-tree div {
    display: inline;
}

.crud-tree .controls {
    float: right;
}

.crud-tree .controls button {
    width: 26px !important;
}

.crud-tree li.selected, .crud-tree li.selected {
    background-color: #FFFFDD;
}

.crud-tree li.selected ul, .crud-tree li.selected ul {
    background-color: #ededed;
}



/* ---------------------------------------------------------------------- */
/* crud-table */
/* ---------------------------------------------------------------------- */

.crud-table {
    background-color: #ededed;
    padding: 10px;
    width: 100%;
    clear: both;
}

.crud-table tr  {
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
}

.crud-table tr.selected, .crud-table ul.selected {
    background-color: #FFFFDD;
}

.crud-table td, .crud-table th  {
    line-height: 20px;
    text-align: left;
    padding: 6px 5px;
}

.crud-table td input {
    margin: -2px 0px -2px 0px;
}



/* ---------------------------------------------------------------------- */
/* crud-table paginator */
/* ---------------------------------------------------------------------- */

.paginator {
    padding: 15px 0px 5px 0px;
    text-align:right;
    font-size: 11px;
}

.paginator img {
    margin-left: 10px;
    vertical-align: bottom;
}



/* ---------------------------------------------------------------------- */
/* crud items */
/* ---------------------------------------------------------------------- */

td.selector, td.controls {
    width: 18px !important;
}
.selector, .controls {
    padding: 0px;
    text-align: center;
}

.selector a img, .controls a img {
    vertical-align: middle;
}

.selector div, .controls div {
    text-align: center;
}

.controls button {
    width: 18px !important;
    line-height: 18px !important;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.controls button:hover {
    cursor: pointer;
}

.controls button img {
    vertical-align: middle;
    padding: 0px;
}
