/* global */

a, a:hover img {
    text-decoration: none;
    color: blue;
}

body {
    background-color: #F5F5F5;
    color: #000000;
    line-height: 1.5;
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 17px;
}

input {
    border: 1px solid #ddd;
    padding: 5px 5px 3px 5px;
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

input:hover, input:focus {
    border: solid 1px #7B8D78;
}

input[disabled], input[readonly] {
    color: #000000;
    background-color: #F5F5F5;
}


button, select {
    font-size: 12px;
    font-family: "Helvetica Neue", "Verdana", "Arial", "Liberation Sans", sans-serif
}

button {
    padding: 5px 5px 5px 0px;
}

button img {
    padding: 0px 5px;
    vertical-align: bottom;
}

select {
    padding: 5px;
}



/* ---------------------------------------------------------------------- */
/* backgrounds */
/* ---------------------------------------------------------------------- */

.catalogue {
    background: transparent url(/scrooge/img/application_view_list.png) no-repeat left center;
}

.details {
    background: transparent url(/scrooge/img/application_form.png) no-repeat left center;
}

.create {
    background: transparent url(/scrooge/img/add.png) no-repeat left center;
}

.update {
    background: transparent url(/scrooge/img/pencil.png) no-repeat left center;
}

.delete {
    background: transparent url(/scrooge/img/delete.png) no-repeat left center;
}

.archive {
    background: transparent url(/scrooge/img/package.png) no-repeat left center;
}

.msg-error {
    background: transparent url(/scrooge/img/error.png) no-repeat left 2px;
}

.attention {
    background-color: #fdd;
}

.indent {
    margin-left: 25px;
}

.cancel-button {
    margin-left: 10px;
    text-decoration: underline;
}



/* ---------------------------------------------------------------------- */
/* layout */
/* ---------------------------------------------------------------------- */

#container {
    height: 100%;
}

#logo h1 {
    text-align: center;
}

#navbar, #logout {
    position: relative;
    top: 3px;
}

#navbar ul li, #logout ul li {
    margin-right: 20px;
}

#navbar a, #logout a {
    text-decoration: underline;
}

#navbar p, #logout p {
    color: #000;
    font-weight: bold;
}



#config-menu {
    margin-top: 10px;
}

#config-menu {
    background-color: #5E2510;
}

#config-menu ul li {
    background-color: #5E2510;
    border-right: 1px solid #aaa;
}

#config-menu ul li a {
    padding: 8px 10px;
    color: white;
    font-weight: bold;
}

#config-menu ul li p {
    padding: 8px 10px;
    color: white;
    font-weight: bold;
    background-color: #843418;
}

#config-menu ul li a:hover {
    background-color: #843418;
    color: white;
}

#container {
    background-color: #FFFFFF;
}


/* ---------------------------------------------------------------------- */
/* navbars and menus */
/* ---------------------------------------------------------------------- */

.hnavbar ul li {
    list-style: none;
    float: left;
}

.hnavbar ul li a {
    display: block;
}

.hmenu ul li {
    list-style: none;
    display: inline;
    line-height: 26px;
}

.hmenu ul li a {
    line-height: 26px;
    color: #fff;
    padding: 5px 8px;
}

.hmenu ul li a:hover {
    background-color: #4F5C4E;
}

.hmenu ul li a img {
    padding: 0px 4px;
    vertical-align: text-bottom;
}



/* ---------------------------------------------------------------------- */
/* controls */
/* ---------------------------------------------------------------------- */

.controls {
    background-color: #f5f5f5;
    margin-top: 10px;
    margint-bottom: 30px;
}


/* ---------------------------------------------------------------------- */
/* window */
/* ---------------------------------------------------------------------- */

.window {
    background-color: #f5f5f5;
    margin-top: 10px;
}

.title {
    font-weight: bold;
    background-color: #4F5C4E;
    color: white;
    line-height: 26px;
    padding-left: 10px;
}



/* ---------------------------------------------------------------------- */
/* actions */
/* ---------------------------------------------------------------------- */

.actions {
    background-color: #7B8D78;
}

.actions ul {
    margin-left: 10px;
}

.actions a {
    padding: 0px 19px;
    line-height: 26px;
    color: #ffffff;
}

.actions a:hover {
    text-decoration: underline;
}


/* ---------------------------------------------------------------------- */
/* crud-table */
/* ---------------------------------------------------------------------- */

.crud-table {
    background-color: #F5F5F5;
    padding: 10px;
    width: 100%;
    clear: both;
}

.crud-table tr  {
    border-top: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
    line-height: 32px;
}

.crud-table tr.selected, .crud-table ul.selected {
    background-color: #FFFFDD;
}

.crud-table td, .crud-table th  {
    line-height: 31px;
    text-align: left;
}

.crud-table input {
    width: 590px;
}



/* ---------------------------------------------------------------------- */
/* crud-tree */
/* ---------------------------------------------------------------------- */

.crud-tree {
    clear: both;
    padding-top: 10px;
    line-height: 26px;
}

.crud-tree a img {
    vertical-align: middle;
    padding-right: 2px;
}

.crud-tree div {
    display: inline;
}

.crud-tree input {
    width: 50%;
}


/* ---------------------------------------------------------------------- */
/* crud items */
/* ---------------------------------------------------------------------- */

.selector, .pushbutton {
    width: 30px;
    padding: 0px;
    text-align: center;
}

.selector a img, .pushbutton a img {
    vertical-align: middle;
}

.selector div, .pushbutton div {
    text-align: center;
}

.pushbutton button {
    padding: 0px;
    background-color: transparent;
    border: none;
}

.pushbutton button:hover {
    cursor: pointer;
}

.pushbutton button img {
    vertical-align: middle;
}


/* ---------------------------------------------------------------------- */
/* notifications */
/* ---------------------------------------------------------------------- */


#notifications li {
    padding: 0px 0px 8px 22px;
    line-height: 22px;
}



/* ---------------------------------------------------------------------- */
/* filters */
/* ---------------------------------------------------------------------- */

.search input {
    border: 1px solid #444444;
    margin-top: 10px;
    width: 180px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.search button {
    width: 28px;
    height: 26px;
    vertical-align: bottom;
}



/* ---------------------------------------------------------------------- */
/* paginator */
/* ---------------------------------------------------------------------- */

.paginator {
    padding: 15px 0px 5px 0px;
    text-align:right;
    font-size: 11px;
}

.paginator img {
    margin-left: 10px;
    vertical-align: bottom;
}



/* ---------------------------------------------------------------------- */
/* data form */
/* ---------------------------------------------------------------------- */

.data-form fieldset {
    border: 1px solid grey;
    padding: 10px 20px;
}

.data-form legend {
    padding: 0px 10px;
    font-size: 11px;
}

.data-form label {
    display: block;
    font-weight: bold;
    font-size: 11px;
}

.data-form input {
    display: block;
    margin-bottom: 10px;
}



/* ---------------------------------------------------------------------- */
/* company-data-form */
/* ---------------------------------------------------------------------- */

#company-title {
    margin-top: 20px;
    margin-bottom: 10px;
}

#company-title input {
    width: 460px
}

#company-tax-data input {
    width: 246px;
}

#company-address-data input {
    width: 326px;
}

.footer {
    margin-top: 40px;
}
