/* global */

a, a:hover img {
    text-decoration: none;
}

li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* ---------------------------------------------------------------------- */
/* layout */
/* ---------------------------------------------------------------------- */

#container {
    height: 100%;
}

#logo h1 {
    text-align: center;
    margin: 0;
}

#navbar, #logout {
    position: relative;
    top: 3px;
}

#navbar ul li, #logout ul li {
    margin-right: 20px;
}

#navbar a, #logout a {
    text-decoration: underline;
}

#navbar p, #logout p {
    color: #000;
    font-weight: bold;
}



#config-menu {
    margin-top: 10px;
}

#config-menu {
    background-color: #5E2510;
}

#config-menu ul li {
    background-color: #5E2510;
    border-right: 1px solid #aaa;
}

#config-menu ul li a {
    padding: 8px 10px;
    color: white;
}

#config-menu ul li a:hover {
    background-color: #843418;
    color: white;
}



.hnavbar ul li {
    list-style: none;
    float: left
}

.hnavbar ul li a {
    display: block;
}


/* ---------------------------------------------------------------------- */
/* helpers */
/* ---------------------------------------------------------------------- */

#logo {
    background-color: #bbb;
}


#container {
    background-color: #FFFFFF;
}
