/* ---------------------------------------------------------------------- */
/* login form */
/* ---------------------------------------------------------------------- */

#login-error, #login-form {
    clear: both;
    padding-top: 20px;
}

#login-error p {
    padding: 10px;
}

#login-form input {
    width: 288px;
}

#login-form button {
    padding: 5px;
}
