/* ---------------------------------------------------------------------- */
/* Tabbar Tabs */
/* ---------------------------------------------------------------------- */

.tabbar {
    background-color: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.tabbar-title {
    background-color: #ddd;
    color: #444;
    /* text-shadow: #024 2px 2px 2px; */
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    /* border-radius: 5px; */
}

.tabbar-title h3 {
    margin: 15px 0px 15px 30px;
    font-size: 21px;
}

.tabbar .hnavbar {
    margin-top: 15px;
}

.tabbar .hnavbar li {
    margin-left: 2px;
    text-shadow: none;
}

.tabbar .hnavbar span {
    background-color: #fff;
    padding: 11px 20px 11px 20px;
    border-radius: 5px 5px 0px 0px;
    color: #000;
    border: 1px solid #999;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tabbar .hnavbar a {
    padding: 11px 20px 11px 20px;
    color: #444;
    border: 1px solid transparent;
    margin-bottom: -1px;
}

.tabbar .hnavbar a:hover {
    color: #000;
}


/* ---------------------------------------------------------------------- */
/* Company Form */
/* ---------------------------------------------------------------------- */

.company-form input  {
    width: 385px;
}

#tin {
    width: 100px;
    float: left;
}

#tin input {
    width: 90px;
}

#tof-div {
    padding-left: 20px;
    width: 275;
    float: left;
}

#tof-div input {
    width: 265px;
}

.company-data fieldset {
    margin-top: 10px;
}

#pobox {
    margin-left: 20px;
    width: 150px;
    float: left;
}

#zipcode {
    width: 150px;
    float: left;
}

#pobox input, #zipcode input {
    width: 120px;
}

#company-notes {
    margin-left: 20px;
}

#company-notes textarea {
    width: 390px;
    height: 150px;
}



/* ---------------------------------------------------------------------- */
/* Contact Table */
/* ---------------------------------------------------------------------- */

#contact-table {
    margin-top: 20px;
}

#contact-table td.payload {
    width: 185px;
}

#contact-table td.payload input {
    width: 150px;
}


/* ---------------------------------------------------------------------- */
/* Project Form */
/* ---------------------------------------------------------------------- */

.project-form input {
    width: 390px;
}

.project-form-details {
    float: left;
    margin: 20px 0px 10px 20px;
}

.project-form-details input {
    width: 150px;
}

#project-notes {
    margin-left: 20px;
}

#project-notes textarea {
    width: 408px;
    height: 200px;
}


/* ---------------------------------------------------------------------- */
/* Bill Table */
/* ---------------------------------------------------------------------- */

#bill-table {
    margin-top: 20px;
}

#bill-table td:nth-child(2) {
    padding: 2px 0px;
    width: 290px;
    text-align: left;
}

#bill-table td:nth-child(2) span {
    padding: 2px 6px;
}

#bill-table td:nth-child(2) input {
    width: 250px;
}

#bill-table td:nth-child(3) {
    padding: 2px 5px 2px 0px;
    width: 65px;
    text-align: right;
}

#bill-table td:nth-child(3) span {
    padding: 2px 6px;
}

#bill-table td:nth-child(3) input {
    width: 50px;
    text-align: right;
}


/* ---------------------------------------------------------------------- */
/* data-form additional styles  */
/* ---------------------------------------------------------------------- */

.data-form .selector input {
    display: inline;
}

#cash-data-form li.selected, #invoice-data-form li.selected {
    background-color: transparent;
}



/* ---------------------------------------------------------------------- */
/* Transactions */
/* ---------------------------------------------------------------------- */

#tx-table td:nth-child(2),
#tx-table th:nth-child(2) {
    width: 76px;
}

#tx-table td:nth-child(2) input {
    width: 66px;
}


#tx-table td:nth-child(3), #tx-table th:nth-child(3),
#tx-table td:nth-child(4), #tx-table th:nth-child(4)
{
    width: 185px;
}

#tx-table td:nth-child(3) input,
#tx-table td:nth-child(4) input {
    width: 170px;
}



#tx-table td:nth-child(5), #tx-table th:nth-child(5),
#tx-table td:nth-child(6), #tx-table th:nth-child(6)
{
    width: 140px;
}

#tx-table td:nth-child(5) input,
#tx-table td:nth-child(6) input
{
    width: 125px;
}



#tx-table td:nth-child(7), #tx-table th:nth-child(7)
{
    width: 60px;
    text-align: right;
}

#tx-table td:nth-child(7) input {
    width: 50px;
    text-align: right;
}
