/* ---------------------------------------------------------------------- */
/* Company Form */
/* ---------------------------------------------------------------------- */

.company-form input  {
    width: 406px;
}

#tin {
    width: 112px;
    float: left;
}

#tin input {
    width: 100px;
}

#tof-div {
    padding-left: 20px;
    width: 286px;
    float: left;
}

#tof-div input {
    width: 276px;
}

.company-data fieldset {
    margin-top: 10px;
}

#pobox {
    margin-left: 20px;
    width: 199px;
    float: left;
}

#zipcode {
    width: 199px;
    float: left;
}

#pobox input, #zipcode input {
    width: 187px;
}

#company-notes {
    margin-left: 20px;
}

#company-notes textarea {
    width: 408px;
    height: 150px;
}



/* ---------------------------------------------------------------------- */
/* Contact Table */
/* ---------------------------------------------------------------------- */

#contact-table {
    margin-top: 20px;
}

#contact-table td.payload {
    width: 185px;
}

#contact-table td.payload input {
    width: 160px;
}


/* ---------------------------------------------------------------------- */
/* Project Form */
/* ---------------------------------------------------------------------- */

.project-form input {
    width: 406px;
}

.project-form-details input {
    width: 168px;
}

#project-notes {
    margin-left: 20px;
}

#project-notes textarea {
    width: 408px;
    height: 200px;
}


/* ---------------------------------------------------------------------- */
/* Bill Table */
/* ---------------------------------------------------------------------- */

#bill-table {
    margin-top: 20px;
}

#bill-table td:nth-child(2) {
    padding: 2px 0px;
    width: 290px;
    text-align: left;
}

#bill-table td:nth-child(2) span {
    padding: 2px 6px;
}

#bill-table td:nth-child(2) input {
    width: 270px;
}

#bill-table td:nth-child(3) {
    padding: 2px 5px 2px 0px;
    width: 65px;
    text-align: right;
}

#bill-table td:nth-child(3) span {
    padding: 2px 6px;
}

#bill-table td:nth-child(3) input {
    width: 50px;
    text-align: right;
}


/* ---------------------------------------------------------------------- */
/* data-form additional styles  */
/* ---------------------------------------------------------------------- */

.data-form .selector input {
    display: inline;
}

#cash-data-form li.selected, #invoice-data-form li.selected {
    background-color: transparent;
}



/* ---------------------------------------------------------------------- */
/* Transactions */
/* ---------------------------------------------------------------------- */

#tx-table td:nth-child(2),
#tx-table th:nth-child(2) {
    width: 76px;
}

#tx-table td:nth-child(2) input {
    width: 66px;
}


#tx-table td:nth-child(3), #tx-table th:nth-child(3),
#tx-table td:nth-child(4), #tx-table th:nth-child(4)
{
    width: 185px;
}

#tx-table td:nth-child(3) input,
#tx-table td:nth-child(4) input {
    width: 175px;
}



#tx-table td:nth-child(5), #tx-table th:nth-child(5),
#tx-table td:nth-child(6), #tx-table th:nth-child(6)
{
    width: 140px;
}

#tx-table td:nth-child(5) input,
#tx-table td:nth-child(6) input
{
    width: 130px;
}



#tx-table td:nth-child(7), #tx-table th:nth-child(7)
{
    width: 60px;
    text-align: right;
}

#tx-table td:nth-child(7) input {
    width: 50px;
    text-align: right;
}
