/* ---------------------------------------------------------------------- */
/* horizontal navbars */
/* ---------------------------------------------------------------------- */

.hnavbar {
    display: inline;
}

.hnavbar ul {
    display: inline;
}

.hnavbar li {
    list-style: none;
    display: inline-block;
}

.hnavbar li a, .hnavbar li span {
    display: block;
}



/* ---------------------------------------------------------------------- */
/* menus */
/* ---------------------------------------------------------------------- */

.hmenu li {
    list-style: none;
    display: inline;
    line-height: 26px;
}

.hmenu li form {
    display: inline;
    line-height: 26px;
}

.hmenu li button {
    border: none;
    color: #001122;
    padding: 0px 12px 0px 15px;
}

.hmenu li button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hmenu li button:disabled {
    color: grey;
    text-decoration: none;
    cursor: default;
}

.hmenu li a {
    line-height: 26px;
    color: #222;
    padding: 5px 15px 5px 19px;
}

.hmenu li a img {
    padding: 0px 4px;
    vertical-align: text-bottom;
}


.actions {
    background-color: #eee;
    border-bottom: 1px solid #999;
}
.actions p {
    padding: 5px 10px;
}

.actions ul {
    margin-left: 10px;
}

.actions a {
    padding: 0px 19px;
    line-height: 26px;
}

.actions a:hover {
    text-decoration: underline;
}
