/* ---------------------------------------------------------------------- */
/* horizontal navbars */
/* ---------------------------------------------------------------------- */

.hnavbar {
    display: inline;
}

.hnavbar ul {
    display: inline;
}

.hnavbar li {
    list-style: none;
    display: inline-block;
}

.hnavbar li a, .hnavbar li span {
    display: block;
}



/* ---------------------------------------------------------------------- */
/* menus */
/* ---------------------------------------------------------------------- */

.hmenu li {
    list-style: none;
    display: inline;
    line-height: 26px;
}

.hmenu li form {
    display: inline;
    line-height: 26px;
}

.hmenu li button {
    border: none;
    color: #001122;
    padding: 0px 0px 0px 19px;
}

.hmenu li button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hmenu li button:disabled {
    color: grey;
    text-decoration: none;
    cursor: default;
}

.hmenu li a {
    line-height: 26px;
    color: #222;
    padding: 5px 5px 5px 25px;
}

.hmenu li a img {
    padding: 0px 1px 0px 4px;
    vertical-align: text-bottom;
}



/* ---------------------------------------------------------------------- */
/* Section navbar */
/* ---------------------------------------------------------------------- */

.section-navbar {
    margin: 10px 0px 0px 0px;
    border-bottom: 1px solid hsl(210, 50%, 65%);
}

.section-navbar ul li {
    margin: 0px 2px;
    text-align: center;
    margin-right: 10px;
}

.section-navbar ul li a {
    padding: 12px 15px;
    color: #555;
    font-weight: bold;
    border-radius: 5px;
}

.section-navbar ul li span {
    padding: 10px 20px 12px 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: -1px;
    background-color: hsl(210, 60%, 85%);
    border: 1px solid hsl(210, 50%, 65%);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid hsl(210, 60%, 85%);
}

.section-navbar ul li a:hover {
    color: black;
}



/* ---------------------------------------------------------------------- */
/* top-actions area */
/* ---------------------------------------------------------------------- */

.top-actions {
    background-color: hsl(210, 60%, 85%);
    padding: 12px 0px 10px 0px;
    min-height: 26px;
}

.top-actions .hmenu li a {
    border: solid 1px hsl(210, 50%, 65%);
    padding: 7px 7px 7px 26px;
    border-radius: 5px;
    background-color: hsl(210, 60%, 93%);
    margin-left: 10px;
}

.top-actions .hmenu li a:hover {
    background-color: #fff;
    color: #000;
}

#searchbox input {
    width: 152px;
    border: 1px solid hsl(210, 50%, 65%);
}

#datebox input {
    width: 152px;
    border: 1px solid hsl(210, 50%, 65%);
    width: 70px;
}



/* ---------------------------------------------------------------------- */
/* actions */
/* ---------------------------------------------------------------------- */

.actions {
    background-color: hsl(210, 60%, 93%);
    border-bottom: 1px solid hsl(210, 50%, 65%);
}
.actions p {
    padding: 5px 10px;
}

.actions ul {
    margin-left: 10px;
}

.actions a {
    padding: 0px 19px;
    line-height: 26px;
}

.actions a:hover {
    text-decoration: underline;
}



/* ---------------------------------------------------------------------- */
/* Filter area */
/* ---------------------------------------------------------------------- */

.filter-area {
    line-height: 30px;
    padding: 5px 0px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: hsl(210, 60%, 85%);
    border: 1px solid hsl(210, 50%, 65%);
}

.filter-navbar {
    color: #222;
    margin: 3px 0px;
    display: inline-block;
}

.filter-navbar ul {
    line-height: 28px;
    margin: 0px 10px;
}

.filter-navbar ul li a, .filter-navbar ul li span {
    line-height: 23px;
    margin: 1px 3px 1px 0px;
    padding: 2px 8px;
    border-radius: 3px;
}

.filter-navbar ul li a {
    color: #333;
    background-color: hsl(210, 60%, 93%);
    border: 1px solid hsl(210, 50%, 65%);
}

.filter-navbar ul li a:hover, .filter-navbar ul li span {
    color: #222;
    border: 1px solid hsl(30, 50%, 65%);
}

.filter-navbar ul li span {
    background-color: hsl(30, 60%, 85%);
}

.filter-navbar ul li a:hover {
    background-color: hsl(30, 60%, 93%);
}

.filter-navbar label {
    margin-left: 10px;
}

.filter-navbar form {
    display: inline;
}

/* override display property for kind-navbar  */
#cheque-kind-navbar {
    display: block;
}



/* ---------------------------------------------------------------------- */
/* Secondary filter area */
/* ---------------------------------------------------------------------- */

.secondary-filter-area {
    padding: 10px 0px 0px 0px;
}
