
@media screen {
    #back {
        display: block;
        padding: 10px;
    }
}


@media print {
    a, button {
        display: none;
    }
    input {
        border: none;
    }
}

h3 {
    margin: 0px;
    padding: 5px 10px;
}