@media screen {
    #back {
        display: block;
        padding: 10px;
    }
}

@media print {
    a, button {
        display: none;
    }
    input {
        border: none;
    }
}

/* h3 { */
/*     padding: 5px 15px 10px 15px; */
/* } */