/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* SIDEBAR */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.sidebar {
    background-color: #ddd;
    margin-top: 10px;
    margin-bottom: 30px;
}



/* ---------------------------------------------------------------------- */
/* notifications */
/* ---------------------------------------------------------------------- */

#notifications {
    background-color: #ffd;
    border: 1px solid red;
    margin: 10px 0 20px 0px;
}

#notifications li {
    padding: 0px 0px 0px 30px;
    line-height: 26px;
}



/* ---------------------------------------------------------------------- */
/* Section navbar */
/* ---------------------------------------------------------------------- */

.section-navbar {
    margin-top: 10px;
}

.section-navbar ul li {
    background-color: #bcd;
    border-right: 1px solid #888;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-radius: 4px 4px 0px 0px;
    margin-right: 2px;
}

.section-navbar ul li a {
    padding: 8px 10px;
    color: #333333;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
}

.section-navbar ul li span {
    padding: 8px 10px;
    color: orange;
    font-weight: bold;
    background-color: #234;
    border-radius: 4px 4px 0px 0px;
}


.section-navbar ul li a:hover {
    /* background-color: #567; */
    color: black;
}

.section-subnavbar button {
    line-height: 19px;
    vertical-align: baseline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.section-subnavbar {
    line-height: 23px;
    padding: 10px 0px;
    background-color: #234;
}

.section-subnavbar img {
    vertical-align: bottom;
    padding: 0px 0px 0px 0px;
}

.section-subnavbar input {
    line-height: 23px;
    border: 1px solid #444;
    border-radius: 4px;
}

.section-subnavbar button[type="submit"] {
    width: 25px;
    margin: 0px -4px 0px 6px;
}

.section-subnavbar button[type="button"] {
    width: 25px;
    margin: 0px -2px 0px 0px;
}



/* ---------------------------------------------------------------------- */
/* Section sub-navbar */
/* ---------------------------------------------------------------------- */

.filters {
    color: #fff;
    float: left;
}

.filters ul {
    line-height: 23px;
    margin: 0px 0px 0px 10px;
}

.filters a, .filters span {
    margin-right: 10px;
    padding: 0px 7px;
    text-decoration: none;
    color: #ddd;
    background-color: #456;
    border-radius: 3px;
}

.filters a {
    color: #ddd;
    background-color: #456;
}

.filters a:hover, .filters span {
    color: #fff;
    background-color: #678;
}

.filters label {
    margin-left: 10px;
}

.filters input.datepicker {
    width: 70px;
}



/* ---------------------------------------------------------------------- */
/* options */
/* ---------------------------------------------------------------------- */

.options {
    float: left;
    line-height: 23px;
    margin: 0px 0px 0px 10px;
}

.options a {
    text-decoration: none;
    color: #ddd;
    background-color: #456;
    padding: 5px;
    border-radius: 3px;
}

.options a:hover {
    color: #fff;
    background-color: #678;
}


/* ---------------------------------------------------------------------- */
/* search */
/* ---------------------------------------------------------------------- */

#searchbox {
    float: right;
    color: #fff;
    margin-right: 5px;
}

.search input {
    width: 200px;
}
