/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */
/* SIDEBAR */
/* ---------------------------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.sidebar {
    background-color: #ededed;
    margin-top: 10px;
    margin-bottom: 30px;
}



/* ---------------------------------------------------------------------- */
/* notifications */
/* ---------------------------------------------------------------------- */

#notifications {
    background-color: #FFFFDD;
    border: 1px solid red;
    margin: 10px 0 20px 0px;
}

#notifications li {
    padding: 0px 0px 0px 30px;
    line-height: 26px;
}



/* ---------------------------------------------------------------------- */
/* search */
/* ---------------------------------------------------------------------- */

#searchbox {
    margin-bottom: 20px;
}

.search {
    background-color: #7b8d78;
    margin-bottom: 20px;
}

.search input {
    border: 1px solid #444444;
    margin-bottom: 10px;
    width: 100px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.search button {
    width: 26px;
    height: 26px;
    vertical-align: top;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.search button img {
    vertical-align: top;
    padding: 0px 0px 0px 0px;
}


/* ---------------------------------------------------------------------- */
/* filters */
/* ---------------------------------------------------------------------- */

.filters {
    margin-bottom: 20px;
}
