/* ------------------------------------------------------------ */
/* Half-width Tables */
/* ------------------------------------------------------------ */
.table-half {
    width: 430px;
    margin: 10px;
    clear: both;
}

.table-half .data {
    width: 340px;
}
.table-half .data input {
    width: 330px;
}


/* ------------------------------------------------------------ */
/* forms in a row */
/* ------------------------------------------------------------ */
.forms-in-row {
    background-color: #eee;
}

.forms-in-row tr  {
    border: solid 1px #bbb;
    line-height: 32px;
}

.forms-in-row tr.active, .forms-in-row ul.active {
    background-color: #fcfcfc;
}

.forms-in-row td, .forms-in-row th  {
    /* line-height = 32 (tr.height) -1 (tr.border) */
    line-height: 31px; 		
    text-align: left;
}

.forms-in-row ul {
    line-height: 32px;
}

.forms-in-row li {
    line-height: 31px;
    /* border-width: 1px 1px 0px 1px; */
    /* border-style: solid; */
    /* border-color: #bbb; */
}

.forms-in-row ui li span {
    display: block;
}

.forms-in-row input {
    margin-top: 4px;
}

.forms-in-row input:hover, .forms-in-row input:focus {
    border: solid 1px #000;
}

.forms-in-row input[readonly] {
    background-color: #f4f4f4;
}

.forms-in-row button {
    padding: 0px;
    background-color: transparent;
    border: none;
    position: relative;
    top: 4px;
}

.forms-in-row button:hover {
    cursor: pointer;
}

.forms-in-row a img {
    vertical-align: middle;
}


.forms-in-row .button, .forms-in-row .button button {
    width: 30px;
    padding: 0px;
}

.forms-in-row .select {
    width: 30px;
    padding: 0px;
}

.forms-in-row .select a {
    margin: 0px 7px;
}
